.article {
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* ul li {
  list-style: none;
} */

.circle {
  display: flex;
  position: relative;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: whitesmoke;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  filter: brightness(1);
  transition: all 0.1s !important;
}

.circle:hover {
  filter: brightness(0.95);
  transform: scale(1.05);
  transition: all 0.2s !important;
}

.row {
  justify-content: center;
  display: flex;
  margin: 10px 0;
}

.article-modal {
  text-align: left;
}

.theme-switcher {
  position: absolute;
}
