<!DOCTYPE html>
<html data-theme="light">
  {% with title="Model" %} {% include 'components/header.html' %} {% endwith %}
  <body>
    <main class="container">
      <h2>Total topics: {{ data|length }}</h2>
      {% for model in (data|list)[1:] %}
      <article class="article">
        <details closed>
          <summary>
            <p>
              <b>Topic {{ model }}:</b>
            </p>
            <i>
              {% for topic in data[model].topic %}{{ topic[0] }} {% endfor %}
            </i>
          </summary>
          <ul>
            {% for doc in data[model].docs %}
            <li>
              <p>
                {{ doc.text }} - <a href="{{ doc.url }}">{{ doc.author }}</a>
              </p>
            </li>
            {% endfor %}
          </ul>
        </details>
      </article>
      {% endfor %}
    </main>
    <button
      class="contrast switcher theme-switcher"
      aria-label="Turn off dark mode"
    >
      <i>Turn off dark mode</i>
    </button>
  </body>
</html>
