<!DOCTYPE html>
<html data-theme="light">
  <body>
    <main class="container">
      {% with title="NewsAPI" %} {% include 'components/header.html' %} {%
      endwith %}
      <h2>Total results found: {{ data.total_results }}</h2>
      {% for item in data.articles %}
      <article class="article">
        <h4>{{ item.title }}</h4>
        <p>
          <i
            >{{ item.author }} -
            <a href="{{   item.link  }}">{{ item.clean_url }}</a></i
          >
        </p>
        <p>{{ item.summary }}</p>
      </article>
      <hr />
      {% endfor %}
    </main>
  </body>
</html>
