<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Data Preview</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
  </head>
  <body>
    <h2>Total results found: {{ data.total_results }}</h2>
    <ul>
      {% for item in data.articles %}
      <h4>{{ item.title }}</h4>
      <p>
        <i
          >{{ item.author }} - {{ item.source.name }} -
          <a href="{{ item.url }}">{{ split_url(item.url) }}</a></i
        >
      </p>
      <blockquote>
        <p>{{ item.content }}</p>
      </blockquote>
      <hr />
      {% endfor %}
    </ul>
  </body>
</html>
